#header{
	height:100%;
}
.post-info-container{
	width:84%
}

#main{
    width: 100%;
    margin: 2rem auto;
}

.post-page-title{
	font-size:3.2rem;
}

.author-detail{
	padding: 6rem 1.6rem 1.6rem;
  // margin: 0 0 2rem 0;
  // padding: 0 0 1.6rem 0;
  // border-bottom: #EBF2F6 1px dashed;
}