
#main{
width:100%;
margin:2rem auto;
}

.post-template{
	 .site-footer{
	 	  margin-top: 3rem;
	 }
}

.home-template{
	 .site-footer{
	 	  margin-top: 3rem;
	 }
}

.nav-header-container{
    // width: 80%;
}

.arrow_down{
    display: block;
}

.back-home{
    top: .5rem;
    left: 0;
}

#header{
    max-height:100%;
}
