
#main{
width:100%;
margin:2rem auto;
}

.post-template{
	 .site-footer{
	 	  margin-top: 3rem;
	 }
}

.home-template{
	 .site-footer{
	 	  margin-top: 3rem;
	 }
}

.arrow_down{
    display: block;
}
